html, body {
    font-family:  Helvetica, sans-serif;
    background-color: black;
}

.textArea, .mainContainer, .greyButton, .zeroButton,.lightGreyButton,.orangeButton{
    font-family: Helvetica, sans-serif;
    font-size: 24px;
}

.textArea{
    text-align: right;
    padding: 100px 0px 10px 0px;
    color: white;
    font-size: 70px;
    min-height: 80px;
    width: 430px;
}

.mainContainer{
    margin: 0 auto 0 auto;
    width: 250px;
    display: grid;
    grid-template-columns: repeat(4, auto);
}

.textArea{
    grid-column: 1 / span 4;
}


.greyButton{
    background-color: rgba(49,49,49,255);
    color: rgba(253,253,253,255);
}

.zeroButton {
    grid-column: 1 / span 2;
    width: 200px;
    background-color: rgba(49,49,49,255);
    color: rgba(253,253,253,255);
}

.lightGreyButton{
    background-color: rgba(160,160,160,255);
}

.orangeButton{
    background-color: rgba(246,154,6,255);
    color: rgba(253,253,253,255);
    font-size: 30px;
}

button{
    display: block;
    width: auto;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border-style: none;
    margin: 5px 3px 5px 3px;
}